{{ "=" * title | length }}
{{ title }}
{{ "=" * title | length }}

{{ version }}


Cat I (High Severity)
=====================

.. toctree::
   :maxdepth: 2

   high.rst

Cat II (Medium Severity)
========================

.. toctree::
   :maxdepth: 2

   medium.rst

Cat III (Low Severity)
======================

.. toctree::
   :maxdepth: 2

   low.rst
