{% set page_title = severity | title %}
{{ page_title }}
{{ "=" * page_title | length }}

{% for rule in rules %}

{% set rule_title = [rule['id'], rule['title'], rule['version']] | join(" - ") %}
{{ rule_title }}
{{ '-' * rule_title | length }}

Severity
~~~~~~~~

{{ rule['severity'] | title }}

Description
~~~~~~~~~~~

{{ rule['description']['VulnDiscussion'] }}

Fix
~~~

{{ rule['fix'] | safe }}

Check
~~~~~

{{ rule['check'] | safe }}

Additional Data
~~~~~~~~~~~~~~~

{% for topic, text in rule['description'] | dictsort(false, 'key') if topic not in ['root', 'VulnDiscussion'] %}
* {{ topic | prettydesc }}: {{ text }}
{% endfor %}
* Control Correlation Identifiers: {{ rule['ident'] | join(', ') }}

{% if not loop.last %}
----
{% endif %}
{% endfor %}
